#backgroundVideo
{
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.navbar
{
    background: rgba(0,0,0,0.25);
}

.navbar a 
{
    color: white;
}

.navbar a:hover
{
    color:gray;
}

#pageTitle
{
    margin-top: 21%;
    font-size: 4vw;
    color: white;
}

#buttonTest
{
    margin-top: 1%;
}

#pageTitle
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#aboutSection
{
    margin: auto;
    width: 50%;
    color: white;
}

.card
{
    margin-top: 2%;
    background: rgba(0,0,0,0.35);
}





