
body
{
    background-color: black;
    color: white;
}

#firstColumn
{
    /* padding-left: 8.30%;
    padding-right: 8.60%;
    padding-top: 18%;
    padding-bottom: 28%; */

    padding-top: 23%;
    padding-bottom: 23%;

    background-image: url('../Resources/Images/SanMarino_1989.jpg');    /*?SanMarino_1989*/
    background-size: cover;
    -webkit-filter: grayscale(100%);    /* Razlicite filter naredbe su zbog razlicitih browsera */
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;  /* Linija koja radi tranziciju sa grayscale slike na color sliku smoothly */

    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

#secondColumn
{
    /* padding-left: 8.11%;
    padding-right: 8.60%;
    padding-top: 18%; */

    padding-top: 23%;
    padding-bottom: 23%;

    background-image: url('../Resources/Images/Brazil2018.jpg');   /* Izvor za sliku : https://www.essentiallysports.com/2017-formula-1-season-top-races/ */
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;

    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#thirdColumn
{
    /* padding-left: 8.33%;
    padding-right: 8.55%;
    padding-top: 18%; */

    padding-top: 23%;
    padding-bottom: 23%;

    background-image: url('../Resources/Images/F1Car2021Overhead.jpg');   /* Izvor za sliku : https://www.formula1.com/en/latest/article.gallery-every-angle-of-the-2021-f1-car.4jDflKZxgvA1Mq1nApR1DU.html */
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#firstColumn:hover
{
    background-image: url('../Resources/Images/SanMarino_1989.jpg');    /* https://wtf1.com/post/10-must-see-onboard-f1-videos-1980s/ --> izvor za sliku "SanMarino_1989.jpg"*/
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

#secondColumn:hover
{
    background-image: url('../Resources/Images/Brazil2018.jpg');
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

#thirdColumn:hover
{
    background-image: url('../Resources/Images/F1Car2021Overhead.jpg');
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
